<a href="https://colab.research.google.com/github/1212-site/Learning-Lessons/blob/main/1_Sintaks_Dasar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Hai, buddies!** (˶˃ ᵕ ˂˶) .ᐟ.ᐟ
Selamat datang di dunia pemrograman Python! Siap-siap untuk memasuki petualangan yang menarik dan penuh kreativitas. Jadi, bersiaplah untuk berkreasi, bereksperimen, dan menjelajahi kemampuan luar biasa pada Python! Kali ini akan membahas tentang **Sintaks Dasar**. Ayo mulai petualangan ini dan buatlah karya yang menakjubkan!

In [1]:
# Menjalankan perintah
print("Hello, World!")

Hello, World!

In [4]:
# Variabel
x = 10            # Integer
y = 3.14          # Float
name = "Python"   # String
is_active = True  # Boolean

In [3]:
# Tipe Data
age = 25            # Integer
height = 1.75       # Float
greeting = "Hello"  # String
is_student = False  # Boolean

In [9]:
# Operator
a = 10
b = 5

result = {
"sum_result" : a + b,   # Penjumlahan
"sub_result" : a - b,   # Pengurangan
"mul_result" : a * b,   # Perkalian
"div_result" : a / b    # Pembagian
}

print(result)

{'sum_result': 15, 'sub_result': 5, 'mul_result': 50, 'div_result': 2.0}

In [15]:
# Kontrol Alur
# If
age = 20

if age >= 18:
    print("Dewasa")
else:
  print("Anak-anak")

# Loop
for i in range(5):
    print(i)

# While Loop
count = 0
while count < 5:
    print(count)
    count += 1

Dewasa
0
1
2
3
4
0
1
2
3
4

In [17]:
# Fungsi
def greet(name):
    return f"Hello, {name}!"

message = greet("Alice")
print(message)

Hello, Alice!

In [18]:
# List
fruits = ["apple", "banana", "cherry"]
print(fruits[0])

apple

In [20]:
# Looping di List
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [21]:
# Exception Handling
try:
  result = 10/0
except ZeroDivisionError:
  print("Tidak bisa membagi dengan nol.")

Tidak bisa membagi dengan nol.

In [22]:
# Modul
import math
print(math.sqrt(16))

4.0