<a href="https://colab.research.google.com/github/1212-site/Python-Fundamentals/blob/main/3_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Hi, buddies!** (˶˃ ᵕ ˂˶) .ᐟ.ᐟ
Welcome to the world of **Python programming**! Get ready to embark on an exciting adventure filled with creativity. So, prepare to create, experiment, and explore the amazing capabilities of Python! This time, we will discuss about **Data Structures**. Let’s start this adventure and create something amazing!

In [11]:
# Lists

# Creating a list
my_list = [1, 2, 3, 'four', 5.0]

# Accessing elements
print(my_list[0])

# Modifying elements
my_list[1] = 'two'
print(my_list)

# Adding elements
my_list.append(6)
print(my_list)

# Removing elements
my_list.remove('four')
print(my_list)

1
[1, 'two', 3, 'four', 5.0]
[1, 'two', 3, 'four', 5.0, 6]
[1, 'two', 3, 5.0, 6]

In [12]:
# Tuples

# Creating a tuple
my_tuple = (1, 2, 3, 'four', 5.0)

# Accessing elements
print(my_tuple[2])

# Tuples cannot be modified
# my_tuple[1] = 'two'

# Slicing a tuple
print(my_tuple[1:4])

3
(2, 3, 'four')

In [13]:
# Sets

# Creating a set
my_set = {1, 2, 3, 4, 4, 5}

# Output the set
print(my_set)

# Adding an element
my_set.add(6)
print(my_set)
# Removing an element
my_set.remove(3)
print(my_set)

# Set operations
another_set = {4, 5, 6, 7}
print(my_set.intersection(another_set))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{4, 5, 6}

In [14]:
# Dictionaries

# Creating a dictionary
my_dict = {
    'name': 'Bambang',
    'age': 30,
    'city': 'New York'
}

# Accessing values
print(my_dict['name'])

# Modifying values
my_dict['age'] = 26
print(my_dict)

# Adding a new key-value pair
my_dict['profession'] = 'Engineer'
print(my_dict)

# Removing a key-value pair
del my_dict['city']
print(my_dict)

Bambang
{'name': 'Bambang', 'age': 26, 'city': 'New York'}
{'name': 'Bambang', 'age': 26, 'city': 'New York', 'profession': 'Engineer'}
{'name': 'Bambang', 'age': 26, 'profession': 'Engineer'}